<div class="container">
    <p>login works!</p>
</div>
<div ng-app="myApp" ng-controller="myController" class="container">
    <div class="hedaing">
        <h2 class="text-success text-center fw-bold">Login</h2>
    </div>
    <form name="myForm">
      <div class="login-container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label><i class="fa fa-envelope"></i> Email :</label>
              <input type="email" name="email" ng-model="" required class="form-control">
              <!-- <div ng-show="myForm.email.$error.email" class="error">Invalid email!</div> -->
              <!-- <div ng-show="myForm.email.$error.required &amp;&amp; myForm.email.$touched" class="error">Required!</div> -->
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <div class="form-group">
              <label><i class="fa fa-lock"></i> Password :</label>
              <input type="password" name="" ng-model="" required class="form-control">
              <!-- <div ng-show="myForm.pass.$error.required &amp;&amp; myForm.pass.$touched" class="error">Required!</div> -->
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <div class="form-group">
              <button ng-click="authenticate()" ng-disabled="myForm.$invalid" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
              <!-- <div class="clearfix"></div> -->
            </div>
          </div>
        </div>
        <!-- error msg -->
        <div class="row">
          <div class="col-md-12">
            <!-- <div ng-show="showError" class="alert alert-danger">Wrong credentials!</div> -->
            <!-- <div ng-show="showSuccess" class="alert alert-success">Login Successful!</div> -->
          </div>
        </div>

      </div>
    </form>
  </div>
